<!-- <nav class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="navbar-brand">

  </div>
  <div class="navbar-menu" [class.active]="menuActive">
    <a routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">Home</a>
    <a routerLink="products" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">Products</a>
    <a routerLink="about" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">About</a>
    <a routerLink="contact" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">Contact</a>
    <a routerLink="cart" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMenu()">Cart</a>
  </div>
  <div class="navbar-burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
<router-outlet></router-outlet> -->
