<div class="overview-container">
  <h1>Dashboard Overview</h1>
  <div class="metric">
    <h2>Total Sales</h2>
    <p>{{ metrics.totalSales | currency }}</p>
  </div>
  <div class="metric">
    <h2>Total Orders</h2>
    <p>{{ metrics.totalOrders }}</p>
  </div>
  <div class="metric">
    <h2>Total Products</h2>
    <p>{{ metrics.totalProducts }}</p>
  </div>
  <div class="metric">
    <h2>Total Customers</h2>
    <p>{{ metrics.totalCustomers }}</p>
  </div>
  <!-- <div class="metric">
    <h2>Total Inventory Value</h2>
    <p>{{ metrics.totalInventoryValue | currency }}</p>
  </div> -->
</div>

